[Unit]
Description=Periodically update read-only Obsidian Vault replica

[Timer]
OnBootSec=2m
OnUnitActiveSec=10m
RandomizedDelaySec=1m
Persistent=true
Unit=obsidian-vault-sync.service

[Install]
WantedBy=timers.target
