---
# PHP role - Install PHP CLI and Composer

- name: Add Ondrej PHP PPA (Ubuntu)
  ansible.builtin.apt_repository:
    repo: ppa:ondrej/php
    state: present
  become: true
  when: ansible_distribution == "Ubuntu"

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  become: true
  when: ansible_os_family == "Debian"

- name: Install PHP and common extensions
  ansible.builtin.package:
    name:
      - "php{{ php_version }}-cli"
      - "php{{ php_version }}-common"
      - "php{{ php_version }}-curl"
      - "php{{ php_version }}-mbstring"
      - "php{{ php_version }}-xml"
      - "php{{ php_version }}-zip"
      - "php{{ php_version }}-bcmath"
      - "php{{ php_version }}-intl"
    state: present
  become: true

- name: Check if Composer is installed
  ansible.builtin.stat:
    path: /usr/local/bin/composer
  register: composer_stat

- name: Download Composer installer
  ansible.builtin.get_url:
    url: https://getcomposer.org/installer
    dest: /tmp/composer-installer.php
    checksum: "sha384:https://composer.github.io/installer.sig"
    mode: '0644'
    timeout: 30
  when: not composer_stat.stat.exists

- name: Install Composer
  ansible.builtin.command: >
    php /tmp/composer-installer.php --install-dir=/usr/local/bin --filename=composer --{{ composer_version }}
  args:
    creates: /usr/local/bin/composer
  become: true
  when: not composer_stat.stat.exists

- name: Check if Composer was actually installed
  ansible.builtin.stat:
    path: /usr/local/bin/composer
  register: composer_installed

- name: Set Composer executable permissions
  ansible.builtin.file:
    path: /usr/local/bin/composer
    mode: '0755'
  become: true
  when: composer_installed.stat.exists

- name: Verify PHP installation
  ansible.builtin.command: php --version
  register: php_version_output
  changed_when: false

- name: Display PHP version
  ansible.builtin.debug:
    msg: "PHP installed: {{ php_version_output.stdout_lines[0] }}"
  when: not ansible_check_mode and php_version_output.stdout_lines | length > 0

- name: Verify Composer installation
  ansible.builtin.command: composer --version
  register: composer_version_output
  changed_when: false

- name: Display Composer version
  ansible.builtin.debug:
    msg: "Composer installed: {{ composer_version_output.stdout_lines[0] }}"
  when: not ansible_check_mode and composer_version_output.stdout_lines | length > 0
